# APP
HTTPS=
PORT=
S_PORT=
ASSET_URL= # the address of the vite dev server

#ADMIN
ADMIN_EMAIL=
ADMIN_PASSWORD=
DATABASE_URL=


ENCRYPTION_KEY=

TWITCH_CLIENT_ID=
TWITCH_SECRET=
SECRET=
CALLBACK_URL=
TEST_URL=

CHANNEL_USER_ID=