.scripture{
  width: fit-content;
  padding: 20px;
  border-radius: 10px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: x-large;
  width: min(400px, 90%);
  height: fit-content;
  position: absolute;
  top: 30%;
  left: 200px;
  /* right: 0px; */
  margin: auto;
  color: #f0f8ff;
  text-align: "left";
}

.glass {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  text-align: left; 
}

.container {
  width: 100%;
  height: 100%;
}

p {
  margin: 0;
}

#bowtie {
  height: 20%;
  width: auto;
  position:absolute;
  top: 5%;
  left: 5%;
}

.title {
  text-transform: uppercase;
  font-size: 90px;
  font-family:'Verdana';
  font-weight: 900;
  position: absolute;
  top: 16%;
  width: 100%;
  text-align: center;
  color: #f0f8ff;
  
}

.title
{
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #0400ff 0%,
    #00560d 25%,
    #fff800 50%,
    #00560d 75%,
    #0400ff 100%
  );
  background-size: auto auto;
  background-clip: text;
  background-size: 200% auto;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px rgb(0, 78, 4);
  animation: textclip 4s linear infinite;
  position: absolute;
  font-size: 90px;
  font-family:'Verdana';
  font-weight: 900;
  position: absolute;
  top: 16%;
  width: 100%;
  text-align: center;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.widget {
  margin: auto; 
  width: fit-content;
  background-color: grey; 
  padding: 20px; 
  border-radius: 10px;
}

button {
  border-radius: 10px;
  block-size: 30px;
  border-width: 0;
  padding-inline: 10px;
}

button:disabled {
  color:rgba(0,0,0,1)
}

button:hover:not(:disabled) {
  background-color: rgb(204, 255, 203);
}

select {
  border-radius: 10px;
  block-size: 30px;
  border-width: 0;
  padding-inline: 10px;
}

label {
  font-size: 24px;
  font-weight: bold;
}

.vote.widget {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px; 
}

#vote_title {
  font-size: 24px;
  border-radius: 10px;
  background-color: lightgray;
  border-width: 0;
  padding: 7px;
}

#vote_title:disabled {
  color: #000000;
  background-color: rgba(0,0,0,0);
  font-size: 30px;
}

.vote_option {
  border-radius: 10px;
  background-color: rgba(0,0,0,0.25);
  border-width: 0;
  padding: 7px;
  flex-grow: 1;
  z-index: 2;
}

.vote_option:disabled {
  color: #000000;
  background-color: rgba(0,0,0,0);
}

label.vote {
  padding-left: 10px;
  z-index: 2;
}

.vote_options_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#add_div {
  overflow-y: hidden;
}

.del_button {
  overflow: hidden;
}

.percent_bar {
  border-radius: 10px;
  position:absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
}