.main {
    display: flex;
    width: 100%;
    margin: 20px;
}

.crud-section {
    flex-grow: 1;
}

.view-section {
    flex-grow: 2;
    max-width: 50%;
    margin-inline: 100px;
}

.verse-section {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    overflow-y: scroll;
    justify-content: flex-start;
}

.scripture {
    text-indent: 40px;
    padding: 20px;
    border-radius: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    height: fit-content;
}

.scripture.preview {
    background-color: rgba(0, 0, 0, 0.2);
    font-size: large;
    width: min(230px, 90%);
}

.scripture.display {
    margin: auto;
    width: min(400px, 90%);
    font-size: x-large;
    position: absolute;
    top: 30%;
    left: 200px;
    /* right: 0px; */
    color: #f0f8ff;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    text-align: left; 
}

textarea {
    resize: none;
    width: 80%;
    margin-left: 20px;
}

input {
    width: 60%;
}

button {
    block-size: 100%;
}

#submit {
    margin: 20px;
}