.scripture{
  width: fit-content;
  padding: 20px;
  border-radius: 10px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: x-large;
  width: min(400px, 90%);
  height: fit-content;
  position: absolute;
  top: 30%;
  left: 0px;
  right:0px;
  margin: auto;
  color: #f0f8ff;
}

.glass {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  text-align: center; 
}

p {
  margin: 0;
}

img{
  height: 100%;
  width: 100%;
  position:absolute;
  top: 0px;
  left: 0px;

}

#bowtie {
  height: 20%;
  width: auto;
  position:absolute;
  top: 5%;
  left: 5%;
}