@import "tailwindcss";

.draw {
    display: flex;
    flex: 1;
    box-sizing: border-box;
    padding-inline: 0;
    height: 100%;
    width: calc(100% + (2 * var(--page-padding)));
    margin-inline: calc(-1 * var(--page-padding));
    overflow: hidden;
}

#canvas-main {
    display: block;
    border: 2px solid black;
    width: 100%;
    flex: 1;
}

.sidebar {
    @apply bg-[#ffffff88] text-white;
    width: 0;
    height: 100%;
    transition: width 0.25s ease;

}

.sidebar.open {
    width: 300px;
}

.sidebar-toggle {
    position: relative;
    margin-left: -70px;
    height: fit-content;
    z-index: 1;
    background-color: #ff0000;
}

aside {
    overflow-y: scroll;
    height: inherit;
}

