@import "tailwindcss";

html,
body,
main,
#root {
  @apply dark:bg-[#212121] dark:text-white;
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  height: 100vh;
  box-sizing: border-box;
}

.page {
  height: 100%;
  padding-inline: .75em;
  overflow-y: scroll;
}

button {
  @apply m-1 p-2 rounded-lg font-bold text-center;
}

button:hover {
  @apply cursor-pointer;
}

button:disabled {
  @apply cursor-not-allowed;
  background-color: #b6b6b6;
  color: rgb(0, 0, 0);
}

.warning-button{
  background-color: #ff0000;
  color: rgb(255, 255, 255);
}

.twitch-button {
  background-color: #9147ff;
  color: rgb(255, 255, 255);
}

.twitch-button:hover:not(:disabled) {
  background-color: rgb(204, 255, 203);
  color: rgb(0, 0, 0);
}

.log {
  @apply flex flex-col border-black outline-4 rounded-xl min-h-9/10 max-h-screen overflow-y-auto;
}

h1 {
  @apply text-4xl text-center font-semibold;
}

h2 {
  @apply text-lg m-3 font-semibold;
}

label {
  @apply mr-3 w-[7em] font-semibold;
}

input:not([type=radio]):not([type=checkbox]) {
  @apply border-black outline-1 px-2 rounded-sm min-w-[200px] w-full; 
}

.dialog-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.dialog {
  @apply rounded-xl p-3 shadow-xl;
  background-color: white;
}


/* .flex-container {
  height: 100%;
  display: flex;
  margin: 2px;
  }
  

.border {
  border: 4px solid #000000;
  border-radius: 1em;
}

.title {
  width: 100%;
  text-align: center;
}

p {
  margin: 0;
}

button {
  border-radius: 10px;
  border-width: 0;
  padding-inline: 10px;
}

button:disabled {
  color:rgba(0,0,0,1)
}

button:hover:not(:disabled) {
  background-color: rgb(204, 255, 203);
  color: black;
}

select {
  border-radius: 10px;
  border-width: 0;
  padding-inline: 10px;
}

label {
  font-size: 24px;
  font-weight: bold;
}



#add_div {
  overflow-y: hidden;
}

.del_button {
  overflow: hidden;
}

.percent_bar {
  border-radius: 10px;
  position:absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;

  
.activation-code {
    margin: 24px 0;

    padding: 16px;

    text-align: center;

    font-size: 2rem;
    font-weight: bold;
    letter-spacing: .2rem;

    background: #111;

    border: 2px solid #9147ff;

    border-radius: 8px;
}
} */